.container {
    display: flex;
    justify-content: center;
    // border: 1px solid #f00;

    .main {
        width: 100%;
        max-width: 1400px;
        // border: 1px solid #f00;

        .heading {
            font-size: 20px;
            font-weight: 900;
            margin-top: 15px;
        }

        .searchText {
            margin-top: 30px;
        }

        .tableContainer {
            margin-top: 15px;
        }
    }
}
