.container {
    margin-top: 15px;
    // border: 1px solid #f00;

    .heading {
        font-size: 20px;
        font-weight: 700;
    }

    .passwordControls {
        border: 1px solid #aaa;
        padding: 15px;

        .passwordLengthContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;

            .passwordLengthSlider {
                width: 100%;
                margin-top: 15px;
                outline: none;
            }

            .passwordLengthInfo {
                background-color: #333;
                color: #fff;
                padding: 15px;
                border-radius: 50%;
            }
        }

        .checkboxContainer {
            margin-top: 15px;
            background-color: aliceblue;
            padding: 15px;
            display: flex;
            gap: 50px;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .uppercaseContainer,
            .lowercaseContainer,
            .symbolsContainer,
            .numbersContainer {
                display: flex;
                gap: 10px;

                input {
                    scale: 1.5;
                }
            }
        }
    }

    .passwordOutputContainer {
        margin-top: 15px;
        background-color: #003163;
        width: 100%;

        .passwordInfoCopyRefresh {
            margin-top: 15px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;

            .passwordStrengthInfo {
                display: flex;
                gap: 5px;
                align-items: center;

                .passwordStrengthIcon {
                    color: #aaa;
                    font-size: 18px;
                }

                .passwordStrengthText {
                    color: #aaa;
                }
            }

            .passwordCopyRefresh {
                display: flex;
                gap: 5px;
                justify-content: space-between;
                align-items: center;

                .copyIconTooltip {
                    .copyIcon {
                        color: #fff;
                        font-size: 25px;
                    }
                }

                .refreshIconTooltip {
                    .refreshIcon {
                        color: #fff;
                        font-size: 25px;
                    }
                }
            }
        }

        .displayPassword {
            // border: 1px solid #000;
            color: #fff;
            // min-height: 60px;
            overflow-wrap: break-word;
            text-align: center;
            padding: 15px;
            font-size: 32px;
            padding: 30px;
        }
    }
}
